<div class="container">

  <h1>Menus#index</h1>



  <h3>Mes derniers menus  <%= link_to new_menu_path do  %> <i class="fas fa-plus"></i> <% end %></h3>
  <div class="last-menus">
    <div class="row">
      <% @menu.last(4).sort {|x,y| y <=> x }.each do |m| %>
      <div class="col-xs-6 col-sm-3">

          <div class="lastmenu">
            <%= link_to(menu_path(m.id)) do %>
            <p>
              Semaine du <%= m.startdate%> </p>
              <% end %>
              <div class="menu-editlink">
            <%= link_to menu_path(m.id) do  %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to menu_path(m.id) , method: :delete, remote: true, data: { confirm: 'Êtes vous sur(e)?' }  do %> <i class="fas fa-times"></i> <% end %>
              </div>
            <div class="links-menu">

            <div class="link-menu1">
            <%= link_to menu_days_path(m.id) do  %>
              <i class="fas fa-utensils"></i>
            <% end %>
            </div>
            <div class="link-menu1">
            <%= link_to menu_repas_path(m.id) do  %>
              <i class="fas fa-shopping-basket"></i>
            <% end %>
            </div>
            <div class="link-menu1">
            <%= link_to menu_todos_path(m.id) do  %>
              <i class="fas fa-clipboard-list"></i>
            <% end %>
            </div>
            </div>
          </div>

      </div>
      <% end %>
    </div>
  </div>

  <h3>Trouver de l'inspiration</h3>

  <div class="last-menus">
    <div class="row">
      <% @menu.last(2).each do |m| %>
      <div class="col-xs-6 col-sm-3">
        <%= link_to(menu_path(m.id)) do %>
          <div class="lastmenu">
            <p>
              <%= m.startdate%> <%= m.season %>
            </p>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>


<div class="menu_liens">
  <%= link_to "Nouveau menu", new_menu_path  %>
  </div>
</div>
