<div class="container navbar-space">

  <h1>Menus</h1>

  <div class="last-menus">
    <h2>Les derniers</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">

          <div class="lastmenu" data-aos="zoom-in">

            <p>NOUVEAU<br>
              <span class="menu-date">MENU</span> </p>
            <div class="add_menu">
              <%= simple_form_for @menu do |f| %>
                <div class="form_new_menu">
                  <div class="calendar_new_menu">
                    <p class="calendar-label">SEMAINE</p>
                    <%= f.date_field :startdate, :id => "datepicker" %>
                  </div>
                </div>
                <div>
                  <%= button_tag type: 'submit', class: "link-menu1" do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

        </div>

      <% @menus.last(3).sort {|x,y| y <=> x }.each do |m| %>
      <div class="col-xs-6 col-md-3">

          <div class="lastmenu" data-aos="zoom-in" data-menu-id="<%= m.id %>">
            <%= link_to(menu_path(m.id)) do %>
            <p>
              SEMAINE DU<br>
              <span class="menu-date"><%= m.startdate.split('-')[2] %>/<%= m.startdate.split('-')[1] %>/<%= m.startdate.split('-')[0] %></span> </p>
              <% end %>
              <div class="menu-editlink">
            <%= link_to menu_path(m.id) do  %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to menu_path(m.id) , method: :delete, remote: true, data: { confirm: 'Êtes vous sur(e)?' }  do %> <i class="fas fa-times"></i> <% end %>
              </div>
            <div class="links-menu">


            <%= link_to menu_days_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-utensils"></i>
            </div>
            <% end %>


            <%= link_to menu_repas_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-shopping-basket"></i>
            </div>
            <% end %>


            <%= link_to menu_todos_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <% end %>

            </div>
          </div>

      </div>
      <% end %>
    </div>
  </div>



  <div class="last-menus ideas-menus">
    <h2>Les idées</h2>
    <div class="row" data-aos="zoom-in">
      <% @allmenus.last(4).each do |m| %>
       <div class="col-xs-6 col-sm-3">

          <div class="lastmenu", data-menu-id="<%= m.id %>">

            <p>
              SEMAINE DU<br>
              <span class="menu-date"><%= m.startdate.split('-')[2] %>/<%= m.startdate.split('-')[1] %>/<%= m.startdate.split('-')[0] %></span> <br> par <strong><%= m.user.username %></strong></p>

            <div class="links-menu">


            <%= link_to menu_days_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-utensils"></i>
            </div>
            <% end %>


            <%= link_to menu_repas_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-shopping-basket"></i>
            </div>
            <% end %>


            <%= link_to menu_todos_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <% end %>

            </div>
          </div>

      </div>
      <% end %>
  </div>

  <div class="hiding_allmenus">

  <h2>Tous</h2> <div id="button-displaymenus"> Afficher </div>

<div class="last-menus allmenus-list" data-aos="zoom-in">
    <div class="row">
      <% @menus.sort {|x,y| y <=> x }.each do |m| %>
      <div class="col-xs-6 col-sm-3">

          <div class="lastmenu", data-menu-id="<%= m.id %>">
            <%= link_to(menu_path(m.id)) do %>
            <p>
              SEMAINE DU<br>
              <span class="menu-date"><%= m.startdate.split('-')[2] %>/<%= m.startdate.split('-')[1] %>/<%= m.startdate.split('-')[0] %></span> </p>
              <% end %>
              <div class="menu-editlink">
            <%= link_to menu_path(m.id) do  %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to menu_path(m.id) , method: :delete, remote: true, data: { confirm: 'Êtes vous sur(e)?' }  do %> <i class="fas fa-times"></i> <% end %>
              </div>
            <div class="links-menu">


            <%= link_to menu_days_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-utensils"></i>
            </div>
            <% end %>


            <%= link_to menu_repas_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-shopping-basket"></i>
            </div>
            <% end %>


            <%= link_to menu_todos_path(m.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <% end %>

            </div>
          </div>

      </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
</div>
