<div class="container navbar-space">
  <h1>Mon menu</h1>
  <h2>semaine du <%= @startday[2] %> / <%= @startday[1] %> / <%= @startday[0] %>  </h2>
  <div class="row">
    <% @days.each do |day| %>

      <% if day.repas.size == 1 %>
        <div class="col-xs-12 col-sm-6">
      <% elsif day.repas.size >= 2 %>
        <div class="col-xs-12">
      <% end %>
          <div class="menu-week">
            <h3> <%= day.weekday %> </h3>
            <div class="row">
              <% day.repas.each do |repa| %>
                <% if day.repas.size == 1 %>
                  <div class="col-xs-12">
                <% elsif day.repas.size >= 2 %>
                  <div class="col-xs-12 col-sm-4">
                <% end %>
                    <div class="lastmenu display_repa">
                      <p class="repastype"> <%= repa.repastype.upcase %></p>
                      <% repa.plats.sort{ |x,y| x.id <=> y.id }.each do |plat| %>
                        <div class="edit_platname">
                          <%= simple_form_for([@menu, plat], url: menu_day_repa_plat_path(menu_id: @menu.id, day_id: plat.repa.day.id, repa_id: plat.repa.id, id: plat.id), method: :put, remote: true) do |f| %>
                            <div class="form_platname form-inline row">
                              <div class="col-xs-10 row">
                                <div class="plattype-platname col-xs-4">
                                  <%= plat.plattype %>
                                </div>
                                <div class="col-xs-8 edit-input">
                                  <%= f.input :name, label: false %>
                                </div>
                                <div class="plattype-platname col-xs-4">
                                  <i class="fas fa-link"></i>
                                </div>
                                <div class="col-xs-8 edit-input">
                                  <%= f.input :link, placeholder: "Lien vers la recette", label: false %>
                                </div>
                              </div>
                              <div class="col-xs-2">
                                <%= button_tag type: 'submit', class: "submit-buttons" do %>
                                  <i class="fas fa-check"></i>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        </div>

                        <div class="plat_ingredients">
              <div class="plat-ingredientslist">
              <ul id="ingredientsimples-<%= plat.id %>", class="list-inline">
                <% plat.ingredients.each do |ingredient| %>
                  <%= render 'ingredients/showsimple', menu_id: @menu.id, day_id: plat.repa.day.id, repa_id: plat.repa.id, id: plat.id, ingredient: ingredient %>
                <% end %>
              </ul>
              </div>

              <%= render 'ingredients/formsimple', menu: @menu, day: plat.repa.day, repa: plat.repa, plat: plat %>
                <%= link_to "+ INFOS", menu_day_repa_plat_path(menu_id: @menu.id, day_id: plat.repa.day.id, repa_id: plat.repa.id, id: plat.id ), class: "day-platdetail"  %>
            </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="links-menu ingredients-index-links links-menushow">
            <%= link_to menus_path do  %>
        <div class="link-menu1">
          <i class="fas fa-arrow-left"></i>
          <p>MENUS</p>
        </div>
        <% end %>


            <%= link_to menu_ingredients_path(menu_id: @menu.id) do  %>
        <div class="link-menu1">
          <i class="fas fa-arrow-right"></i>
          <p>CREER LISTES</p>
        </div>
        <% end %>

            </div>


</div>
