<div class="container">
<h1>Plats#show</h1>

<div class="edit_platname">
<%= simple_form_for([@menu, @plat], url: menu_day_repa_plat_path(menu_id: @menu.id, day_id: @day.id, repa_id: @repa.id, id: @plat.id), method: :put, remote: true) do |f| %>
  <div class="form_platname form-inline">
    <%= f.input :name, label: false %>

    <%= button_tag type: 'submit', class: "submit-buttons" do %>
        <i class="fas fa-check"></i>
    <% end %>
    </div>
</div>

<% end %>


<h2>Ingredients principaux : </h2>
<ul id="ingredients">
<% @plat.ingredients.each do |ingredient| %>
  <%= render 'ingredients/show', menu_id: @menu.id, day_id: @day.id, repa_id: @repa.id, id: @plat.id, ingredient: ingredient %>
<% end %>
</ul>


<h2>Ajouter un nouvel ingrédient : </h2>
<%= render 'ingredients/form', menu_id: @menu.id, day_id: @day.id, repa_id: @repa.id, id: @plat.id %>

<%= link_to "Retour", menu_day_path(menu_id: @menu.id, id: @day.id)  %>
<%= link_to "Créer mes listes", menu_ingredients_path(menu_id: @menu.id)  %>
</div>
