<div class="container navbar-space">
<h1>Ma liste de course</h1>

<div class="row todo-minheight">

<% if @shopnone.present? %>
  <div class="col-xs-12 col-sm-4">
  <ul class="list-inline">
    <% @shopnone.each do |ingredient|  %>
        <% if ingredient.instock != true %>
        <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% else %>
      <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% end %>
    <% end %>
  </ul>
  </div>
  <%end %>

<div class="col-xs-12 col-sm-4">
<% if @shopmagbio.present? %>
  <h2>Magasin Bio</h2>
  <ul class="list-inline">
    <% @shopmagbio.each do |ingredient|  %>
      <% if ingredient.instock != true %>
        <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% else %>
      <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% end %>
    <% end %>
  </ul>
  <%end %>

<% if @shopmarché.present? %>
  <h2>Marché</h2>
  <ul class="list-inline">
    <% @shopmarché.each do |ingredient|  %>
        <% if ingredient.instock != true %>
        <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% else %>
      <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% end %>
    <% end %>
  </ul>
  <%end %>
</div>

<div class="col-xs-12 col-sm-4">
<% if @shoppetitcomm.present? %>
  <h2>Petit commerce</h2>
  <ul class="list-inline">
    <% @shoppetitcomm.each do |ingredient|  %>
        <% if ingredient.instock != true %>
        <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% else %>
      <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% end %>
    <% end %>
  </ul>
  <%end %>

<% if @shopsuperm.present? %>
  <h2>Supermarché</h2>
  <ul class="list-inline">
    <% @shopsuperm.each do |ingredient|  %>
        <% if ingredient.instock != true %>
        <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% else %>
      <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% end %>
    <% end %>
  </ul>
  <%end %>

<% if @shopinternet.present? %>
  <h2>Internet</h2>
  <ul class="list-inline">
    <% @shopinternet.each do |ingredient|  %>
        <% if ingredient.instock != true %>
        <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% else %>
      <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>
      <% end %>
    <% end %>
  </ul>
  <%end %>
</div>

</div>

<div class="links-menu ingredients-index-links">
            <%= link_to menu_ingredients_path(@menu) do  %>
            <div class="link-menu1">
              <i class="fas fa-arrow-left"></i>
              <p>RETOUR</p>
            </div>
            <% end %>


            <%= link_to menu_days_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-utensils"></i>
              <p>MENU</p>
            </div>
            <% end %>


            <%= link_to menu_repas_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-shopping-basket"></i>
              <p>COURSES</p>
            </div>
            <% end %>


            <%= link_to menu_todos_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-clipboard-list"></i>
              <p>TO DO</p>
            </div>
            <% end %>

            </div>
</div>
