
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/annabplr/image/upload/v1546857659/background-image-vegetables.jpg');">
  <div class="banner-content">
    <h1>Avec Batchka,<br>je simplifie la préparation de mes repas.</h1>
    <div class="home-buttons">
    <a href="#home-explanations", class="home-button">Je découvre</a>
    </div>
  </div>
</div>

<div id="home-explanations">
  <div class="container">
    <h2>Batchka c'est ...</h2>
      <h3>Prendre 5 à 10 minutes, une fois par semaine, pour :</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4 home-card">
          <div class="home-card-inside">
          <div class="home-image"><%= cl_image_tag("dinner", width: 80, height: 80) %></div>
          <div> <p> prévoir mon menu </p></div>
          </div>
        </div>
      <div class="col-xs-12 col-sm-4 home-card">
        <div class="home-card-inside">
        <div class="home-image"> <%= cl_image_tag("grocery", width: 80, height: 80) %> </div>
        <div> <p> faire ma liste de courses </p></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 home-card">
        <div class="home-card-inside">
        <div class="home-image"> <%= cl_image_tag("to-do", width: 80, height: 80) %> </div>
        <div> <p> planifier les choses que je peux préparer, pour m'avancer </p></div>
        </div>
      </div>
    </div>
    <h2>Pourquoi ? </h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4 home-card">
          <div class="home-card-inside">
          <div class="home-image"><%= cl_image_tag("clock", width: 80, height: 80) %></div>
          <div> <p> Gagner du temps </p></div>
          </div>
        </div>
      <div class="col-xs-12 col-sm-4 home-card">
        <div class="home-card-inside">
        <div class="home-image"> <%= cl_image_tag("coins", width: 80, height: 80) %> </div>
        <div> <p> moins gaspiller </p></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 home-card">
        <div class="home-card-inside">
        <div class="home-image"> <%= cl_image_tag("brain", width: 80, height: 80) %> </div>
        <div> <p>ne plus se casser la tête tous les soirs. </p></div>
        <div class="home-accent"> <p> et surtout</p></div>
        </div>
      </div>
    </div>

    <h2>Concrétement, ca ressemble à :</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4 home-card">
          <div class="home-card-inside">
          <div class="home-image"><%= cl_image_tag("dinner", width: 80, height: 80) %></div>
          <div> <p> un menu </p></div>
          </div>
        </div>
      <div class="col-xs-12 col-sm-4 home-card">
        <div class="home-card-inside">
        <div class="home-image"> <%= cl_image_tag("grocery", width: 80, height: 80) %> </div>
        <div> <p> une liste de courses </p></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 home-card">
        <div class="home-card-inside">
        <div class="home-image"> <%= cl_image_tag("to-do", width: 80, height: 80) %> </div>
        <div> <p> une to-do list </p></div>
        </div>
      </div>
    </div>

    <h3>le tout réuni en un seul endroit et c'est gratuit !</h3>
    <div class="home-button-inscription">
    <%= link_to "Je m'inscris", new_user_registration_path , class: "home-button"  %>
    </div>
  </div>
</div>
