<div class="container navbar-space">


  <div class="row todo-minheight">
    <h1>Menu</h1>
    <% @days.each do |day| %>
      <% if day.plats.select{|plat| (plat.name != nil) && (plat.name != "") }.present? %>
      <div class="col-xs-12 col-sm-4">
        <h2><%= day.weekday %></h2>
        <div class="finalmenu">
          <% day.repas.each do |repa| %>
            <% if repa.plats.select{|plat| (plat.name != nil) && (plat.name != "") }.present? %>

                  <div class="plat-finalmenu row">
                    <div class="col-xs-4 finalmenu-repa">
                      <h3> <%= repa.repastype %></h3>
                    </div>
                    <div class="col-xs-8 finalmenu-plat">
                      <ul class="list-unstyled">
                        <% repa.plats.sort{ |x,y| x.id <=> y.id }.each do |plat| %>
                          <% if plat.name != nil  %>
                            <li class="menu-platname"><%= plat.name %><% if plat.link.present? %><span class="menu-platrecette"><%= link_to plat.link, target: :_blank do %><i class="fas fa-arrow-circle-right"></i> <%end %>
                              <% end %></span></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>

            <% end %>
          <% end %>
        </div>
      </div>
      <% end  %>
    <% end %>
  </div>

  <% if @menu.user != current_user %>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 copy-menu">
        <div class="title-copy-menu" id="button-displayduplicatemenu">
          Copier ce menu
        </div>
        <div class="form_duplicate_menu">
          <% if @error.present? %>
          <div class="errors-container">
            <%= @error %>
          </div>
        <% end %>
          <%= simple_form_for(@copied_menu, url: duplicate_menu_menu_path(@menu.id)) do |f| %>
            <div class="form_new_menu">
              <div class="calendar_new_menu">
                <p class="calendar-label">SEMAINE</p>
                <%= f.date_field :startdate, :id => "datepicker" %>
              </div>

              <div>
                <%= button_tag type: 'submit', class: "link-menu1" do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>

  <div class="links-menu ingredients-index-links">
  <% if @menu.user == current_user %>
    <%= link_to menu_ingredients_path(@menu) do  %>
      <div class="link-menu1">
      <i class="fas fa-arrow-left"></i>
      <p>RETOUR</p>
    </div>
    <% end %>
  <% else %>
    <%= link_to menus_path do  %>
    <div class="link-menu1">
      <i class="fas fa-arrow-left"></i>
      <p>RETOUR</p>
    </div>
    <% end %>
  <% end %>




  <%= link_to menu_days_path(menu_id: @menu.id) do  %>
  <div class="link-menu1">
    <i class="fas fa-utensils"></i>
    <p>MENU</p>
  </div>
  <% end %>


  <%= link_to menu_repas_path(menu_id: @menu.id) do  %>
  <div class="link-menu1">
    <i class="fas fa-shopping-basket"></i>
    <p>COURSES</p>
  </div>
  <% end %>


  <%= link_to menu_todos_path(menu_id: @menu.id) do  %>
  <div class="link-menu1">
    <i class="fas fa-clipboard-list"></i>
    <p>TO DO</p>
  </div>
  <% end %>

  </div>

</div>
