<div class="container navbar-space">
<h1>Menu</h1>

  <div class="row">
    <% @days.each do |day| %>
      <% if day.plats.select{|plat| plat.name != nil }.present? %>
      <div class="col-sm-3">
        <h2><%= day.weekday %></h2>
        <div class="finalmenu">
          <% day.repas.each do |repa| %>
            <% if repa.plats.select{|plat| plat.name != nil }.present? %>

                  <div class="plat-finalmenu row">
                    <div class="col-xs-4">
                      <h3> <%= repa.repastype %></h3>
                    </div>
                    <div class="col-xs-8">
                      <ul class="list-unstyled">
                        <% repa.plats.sort{ |x,y| x.id <=> y.id }.each do |plat| %>
                          <% if plat.name != nil  %>
                            <li> <span class="menu-plattype"><%= plat.plattype %></span><span class="menu-platname"><%= plat.name %></span> <% if plat.link.present? %><span class="menu-platrecette"><%= link_to plat.link, target: :_blank do %><i class="fas fa-arrow-circle-right"></i> <%end %>
                              <% end %></span></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>

            <% end %>
          <% end %>
        </div>
      </div>
      <% end  %>
    <% end %>
  </div>

  <div class="links-menu ingredients-index-links">
            <%= link_to menu_ingredients_path(@menu) do  %>
            <div class="link-menu1">
              <i class="fas fa-arrow-left"></i>
              <p>RETOUR</p>
            </div>
            <% end %>


            <%= link_to menu_days_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-utensils"></i>
              <p>MENU</p>
            </div>
            <% end %>


            <%= link_to menu_repas_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-shopping-basket"></i>
              <p>COURSES</p>
            </div>
            <% end %>


            <%= link_to menu_todos_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-clipboard-list"></i>
              <p>TO DO</p>
            </div>
            <% end %>

            </div>

</div>
