<li data-todo-id="<%= todo.id %>">
  <%= todo.actionverb %> (<%= todo.daydue[0] %><%= todo.daydue[1] %>) <%= link_to menu_todo_path(menu_id: @menu.id, id: todo.id) , method: :delete, remote: true do %> <i class="fas fa-times"></i> <% end %>
</li>

