
<div class="container navbar-space">
<h1>Todos#index</h1>

<h3>Ma to do list</h3>
<% @menu.days.each do |day| %>
  <h3> <%= day.weekday %> </h3>
  <ul class="list-inline">
    <% @todos.each do |todo| %>
      <% if day.weekday == todo.daydue %>
        <%= render 'todos/showupdate', menu: @menu, todo: todo %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<div class="links-menu ingredients-index-links">
            <%= link_to menu_path(@menu) do  %>
            <div class="link-menu1">
              <i class="fas fa-arrow-left"></i>
              <p>RETOUR</p>
            </div>
            <% end %>


            <%= link_to menu_days_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-utensils"></i>
              <p>MENU</p>
            </div>
            <% end %>


            <%= link_to menu_repas_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-shopping-basket"></i>
              <p>COURSES</p>
            </div>
            <% end %>


            <%= link_to menu_todos_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-clipboard-list"></i>
              <p>TO DO</p>
            </div>
            <% end %>

            </div>
</div>
