
<div class="container">
<h1>Todos#index</h1>

<h3>Ma to do list</h3>
<% @menu.days.each do |day| %>
  <h3> <%= day.weekday %> </h3>
  <ul class="list-inline">
    <% @todos.each do |todo| %>
      <% if day.weekday == todo.daydue %>
        <%= render 'todos/showupdate', menu: @menu, todo: todo %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= link_to "Modifier mes listes", menu_ingredients_path(menu_id: @menu.id)  %>
<%= link_to "Mon menu", menu_days_path(menu_id: @menu.id) %>
<%= link_to "Ma liste de courses", menu_repas_path(menu_id: @menu.id) %>
<%= link_to "Ma todo list", menu_todos_path(menu_id: @menu.id)  %>
</div>
