<div class="container navbar-space">


<div class="row todo-minheight">
<h1>To do list</h1>
<% @menu.days.each do |day| %>
  <% if @todomonday.present? && day.weekday == @todomonday.find{|todo| todo.daydue}.daydue %>
    <div class="col-xs-12 col-sm-3">
    <h2> <%= day.weekday %> </h2>
    <ul class="list-inline">
      <% @todomonday.each do |todo| %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% elsif @todotuesday.present? && day.weekday == @todotuesday.find{|todo| todo.daydue}.daydue %>
    <div class="col-xs-12 col-sm-3">
    <h2> <%= day.weekday %> </h2>
    <ul class="list-inline">
      <% @todotuesday.each do |todo| %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% elsif @todowednesday.present? && day.weekday == @todowednesday.find{|todo| todo.daydue}.daydue %>
  <div class="col-xs-12 col-sm-3">
    <h2> <%= day.weekday %> </h2>
    <ul class="list-inline">
      <% @todowednesday.each do |todo| %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% elsif @todothursday.present? && day.weekday == @todothursday.find{|todo| todo.daydue}.daydue %>
  <div class="col-xs-12 col-sm-3">
    <h2> <%= day.weekday %> </h2>
    <ul class="list-inline">
      <% @todothursday.each do |todo| %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% elsif @todofriday.present? && day.weekday == @todofriday.find{|todo| todo.daydue}.daydue %>
  <div class="col-xs-12 col-sm-3">
    <h2> <%= day.weekday %> </h2>
    <ul class="list-inline">
      <% @todofriday.each do |todo| %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% elsif @todosaturday.present? && day.weekday == @todosaturday.find{|todo| todo.daydue}.daydue %>
  <div class="col-xs-12 col-sm-3">
    <h2> <%= day.weekday %> </h2>
    <ul class="list-inline">
      <% @todosaturday.each do |todo| %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% elsif @todosunday.present? && day.weekday == @todosunday.find{|todo| todo.daydue}.daydue %>
  <div class="col-xs-12 col-sm-3">
    <h2> <%= day.weekday %> </h2>
    <ul class="list-inline">
      <% @todosunday.each do |todo| %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%end %>
<% end %>

<% if @todonone.present? %>
  <div class="col-xs-12 col-sm-3">
    <h2>Quand je veux</h2>
  <ul class="list-inline">
    <% @todonone.each do |todo|  %>
        <% if @menu.user == current_user %>
          <% if todo.done != true %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% else %>
            <%= render 'todos/showupdate', menu: @menu, todo: todo %>
          <% end %>
        <% else %>
        <li class="ingredient-notuser">
        <span class="todo-ingname todo-ingname-stock"><%= todo.ingredient.name %></span><span class="todo-ingaction"> <%= todo.actionverb %></span>
      </li>
        <% end %>
    <% end %>
  </ul>
  </div>
  <% end %>


</div>
<div class="links-menu ingredients-index-links">
            <% if @menu.user == current_user %>
              <%= link_to menu_ingredients_path(@menu) do  %>
                <div class="link-menu1">
                <i class="fas fa-arrow-left"></i>
                <p>RETOUR</p>
              </div>
              <% end %>
            <% else %>
              <%= link_to menus_path do  %>
              <div class="link-menu1">
                <i class="fas fa-arrow-left"></i>
                <p>RETOUR</p>
              </div>
              <% end %>
            <% end %>


            <%= link_to menu_days_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-utensils"></i>
              <p>MENU</p>
            </div>
            <% end %>


            <%= link_to menu_repas_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-shopping-basket"></i>
              <p>COURSES</p>
            </div>
            <% end %>


            <%= link_to menu_todos_path(menu_id: @menu.id) do  %>
            <div class="link-menu1">
              <i class="fas fa-clipboard-list"></i>
              <p>TO DO</p>
            </div>
            <% end %>

            </div>
</div>
